.header {
  box-shadow: 0px 2px 4px rgba(31, 41, 55, 0.06), 0px 4px 6px rgba(100, 116, 139, 0.12);
  margin-bottom: 64px;
  background-color: var(--color-white);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

  &__search {
    position: relative;
    max-width: 600px;
    width: 100%;
    


    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: 0;
      z-index: 100;
      background-image: url(../../img/search.svg);
    }

    & input {
      padding-left: 40px;
      border: none;
      max-width: 600px;
      width: 100%;
    }
  }
}

.user-block {

  display: flex;
  align-items: center;

  &__contacts, &__notifications {
    margin-right: 30px;
  }

  &__profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../../img/user.png);
  }
}