<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__search">
        <input type="text">
      </div>
      <div class="user-block">
        <a href="#" class="user-block__contacts">
          <img src="../img/users.svg" alt="">
        </a>
        <a href="#" class="user-block__notifications">
          <img src="../img/notification.svg" alt="">
        </a>
        <a href="#" class="user-block__profile"></a>
      </div>
    </div>
  </div>
</header>