<div class="customers">
    <div class="container">
        <div class="customers__title">Latest Orders</div>
        <div class="customers__content">
            <div class="lastest-orders__list list-title">
                <button class="order__btn-btn-reset">NAME</button>
                <button class="order__btn-btn-reset">EMAIL</button>
                <button class="order__btn-btn-reset">LOCATION</button>
                <button class="order__btn-btn-reset">PHONE</button>
                <button class="order__btn-btn-reset">REGISTRATION DATE</button>
            </div>
            <div class="lastest-orders__list order">
                <a class="order__user order-user" href="#">
                    <img src="" alt="" class="order-user__img">
                    <p class="order-user__name">Ekaterina Tankova</p>
                </a>
                <a href="#" class="order__email">ekaterina.tankova@devias.io</a>
                <a href="#" class="order__location">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order__phone">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order__phone">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order__phone">304-428-3097</a>
                <a href="#" class="order__phone">12/04/2019</a>
            </div>
            <div class="sidebar__pagination pagination">
                <div class="pagination__select">
                    <label class="pagination__label">Rows per page:</label>
                    <select class="pagination-select">
                        <option value="">10</option>
                        <option value="">20</option>
                    </select>
                </div>
                <p class="pagination__text">1-5 of 13</p>
                <div class="pagination__btns">
                    <button class="pagination__btn"></button>
                    <button class="pagination__btn"></button>
                </div>
            </div>
        </div>
    </div>
</div>