<div class="customers">
    <div class="container">
        <div class="customers__wrapper">
            <div class="customers__title">Latest Orders</div>
        <div class="customers__content">
            <div class="lastest-orders__list list-title">
                <div class="list-title__item btn-name"><button class="order__btn btn-reset">NAME</button></div>
                <div class="list-title__item btn-email"><button class="order__btn btn-reset">EMAIL</button></div>
                <div class="list-title__item btn-location"><button class="order__btn btn-reset">LOCATION</button></div>
                <div class="list-title__item btn-phone"><button class="order__btn btn-reset">PHONE</button></div>
                <div class="list-title__item btn-register"><button class="order__btn btn-reset">REGISTRATION DATE</button></div>
            </div>
            <div class="lastest-orders__list order">
                <a class="order__user order-user order-param" href="#">
                    <img src="../img/user.png" alt="" class="order-user__img">
                    <p class="order-user__name">Ekaterina Tankova</p>
                </a>
                <a href="#" class="order-param order__email">ekaterina.tankova@devias.io</a>
                <a href="#" class="order-param order__location">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order-param order__phone">304-428-3097</a>
                <a href="#" class="order-param order__register">12/04/2019</a>
            </div>
            <div class="lastest-orders__list order">
                <a class="order__user order-user order-param" href="#">
                    <img src="../img/user.png" alt="" class="order-user__img">
                    <p class="order-user__name">Ekaterina Tankova</p>
                </a>
                <a href="#" class="order-param order__email">ekaterina.tankova@devias.io</a>
                <a href="#" class="order-param order__location">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order-param order__phone">304-428-3097</a>
                <a href="#" class="order-param order__register">12/04/2019</a>
            </div>
            <div class="lastest-orders__list order">
                <a class="order__user order-user order-param" href="#">
                    <img src="../img/user.png" alt="" class="order-user__img">
                    <p class="order-user__name">Ekaterina Tankova</p>
                </a>
                <a href="#" class="order-param order__email">ekaterina.tankova@devias.io</a>
                <a href="#" class="order-param order__location">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order-param order__phone">304-428-3097</a>
                <a href="#" class="order-param order__register">12/04/2019</a>
            </div>
            <div class="lastest-orders__list order">
                <a class="order__user order-user order-param" href="#">
                    <img src="../img/user.png" alt="" class="order-user__img">
                    <p class="order-user__name">Ekaterina Tankova</p>
                </a>
                <a href="#" class="order-param order__email">ekaterina.tankova@devias.io</a>
                <a href="#" class="order-param order__location">Parkersburg, West Virginia, USA</a>
                <a href="#" class="order-param order__phone">304-428-3097</a>
                <a href="#" class="order-param order__register">12/04/2019</a>
            </div>
            <div class="customers__pagination pagination">
                <div class="pagination__select">
                    <label class="pagination__label">Rows per page:</label>
                    <select class="pagination__select">
                        <option value="">10</option>
                        <option value="">20</option>
                    </select>
                </div>
                <p class="pagination__text">1-5 of 13</p>
                <div class="pagination__btns">
                    <button class="pagination__btn btn-reset pagination__btn--prev">
                        <img src="../img/prev.svg" alt="">
                    </button>
                    <button class="pagination__btn btn-reset pagination__btn--next">
                        <img src="../img/next.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>