<div class="search-customers customers">
    <div class="container">
        <div class="customers__top">
            <h2 class="customers__title title">Customers</h2>
            <div class="customers__btns">
                <button class="customers__btn btn-reset btn btn-empty">Import</button>
                <button class="customers__btn btn-reset btn btn-empty">Export</button>
                <button class="customers__btn btn-reset btn">Add Customers</button>
            </div>
        </div>
        <div class="customers__search find">
            <input class="find__input" type="text">
        </div>
    </div>
</div>