<div class="search-customers">
    <div class="container">
        <div class="search-customers__top">
            <h2 class="search-customers__title title">Customers</h2>
            <div class="search-customers__btns">
                <button class="search-customers__btn btn-reset btn btn-empty btn-import">Import</button>
                <button class="search-customers__btn btn-reset btn btn-empty btn-export">Export</button>
                <button class="search-customers__btn btn-reset btn">Add Customers</button>
            </div>
        </div>
        <div class="search-customers__search">
            <input type="text">
        </div>
    </div>
</div>