<div class="sidebar">
    <div class="container sidebar-container">
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Dashboard</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Customers</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Products</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Account</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Settings</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Login</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Register</a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__linl">Error</a>
            </li>
        </ul>
        <div class="sidebar__footer">
            <p class="sidebar__text--light">Need more features?</p>
            <p class="sidebar__text--dark">Check out our Pro solution.</p>
            <a href="#" class="sidebar__btn btn-reset btn">Buy Pro</a>
        </div>
    </div>
</div>