html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  color: var(--color-main);
}

img {
  max-width: 100%;
}

a, p, span {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-container {
  display: flex;
  justify-content:flex-start;
  max-width: 1920px;
  width: 100%;
}

// .site-container {
//   overflow: hidden;

// }

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn {
  text-align: center;
  border-radius: 8px;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 137.5%;
  font-weight: 700;
}

main {
  max-width: 1592px;
  width: 100%;
}


.container {
  //margin: 0 auto;
  padding: 0 24px;

  @include w1000 {
    padding: 0 15px;
  }

}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
