
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #F2F2F2;;
  --color-main:  #111827;
  --color-main-mod:  rgba(255, 255, 255, 0.08);;
  --color-dark-grey:  #6B7280;
  --color-sidebar:  #D1D5DB;
  --color-sidebar-light:  #F3F4F6;
  --color-light-grey:  #9CA3AF;
  --color-purple:  #5048E5;
  --color-green:  #10B981;
  --color-input:  #E6E8F0;
}
